@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu Mono", monospace;
    background-color: #2a9d8f;
    overflow-x: hidden;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}
.content-box h1{
    color: #fff;
    margin: 20px 0;
}
.content-box .box-items .item {
    width: 500px;
    height: 300px;
    background-color: #fff;
    color: #2a9d8f;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-400%);
    transition: all 0.3s linear;
}
.content-box .box-items .item:nth-child(even){
    transform: translateX(400%);
}
.content-box .box-items .item.show{
    transform: translateX(0%);
}
